{% extends 'layout.html' %}

{% set pageId = "page-home" %}



{% block styles %}
  <link rel="stylesheet" href="/style/modal.css">
  <link rel="stylesheet" href="/style/home.css">
{% endblock styles %}

  {% block content %}
  <div class="content">

    <header>
      <img src="/imgs/logo.svg" alt="Logo Ecoleta Verde">

      <div class="nav">
        <img src="/imgs/log-in.svg" alt="Imagem Pequena para instruir cadastras um ponto">    
        <a href="/create-point">Cadastre um ponto de coleta</a>
      </div>

    </header>

    <main>
      <h1>Seu marketplace
        de coleta de resíduos.</h1>
        <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
        <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>
    </main>

  </div>
  {% endblock content %}


  {% block modal %}
    {% include 'partials/modal.html' %}
  {% endblock modal %}

{% block scripts %}
  <script src="/js/index.js"></script>
{% endblock scripts %}


